/* Filter frame and special-purpose button styles */

QFrame#filters {
    background-color: %frame_bg_color%;
    border: 2px solid %border_color%;
    padding: 4px 8px;
    border-radius: %custom_border_radius%;
}
QPushButton#sortOrderBtn {
    min-width: 35px;
    max-width: 35px;
    padding-left: 0px;
    padding-right: 0px;
    font-weight: bold;
    font-size: 12px;
}
QPushButton#searchBtn, QPushButton#gameVersionsBtn, QPushButton#moddingToolsBtn, QPushButton#blocklistBtn {
    min-width: 35px;
    max-width: 35px;
    min-height: 30px;
    max-height: 30px;
    padding-left: 0px;
    padding-right: 0px;
    font-weight: bold;
    font-size: 16px;
}
QPushButton#downloadsBtn {
    min-width: 35px;
    min-height: 30px;
    max-height: 30px;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: bold;
    font-size: 12px;
}
QPushButton#actionIconBtn {
    min-width: 35px;
    max-width: 35px;
    min-height: 30px;
    max-height: 30px;
    padding-left: 0px;
    padding-right: 0px;
    font-weight: bold;
}
QPushButton#topRefreshBtn {
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    border-radius: %top_refresh_button_radius%;
}
