/* Settings color display input styles */

QLineEdit#color_display {
    padding: 6px 12px;
    min-width: 180px;
    max-width: 230px;
    background-color: %frame_bg_color% !important;
    color: %main_text_color% !important;
    qproperty-alignment: 'AlignCenter';
    border: 2px solid %border_color%;
    border-radius: %field_border_radius%;
}

QLineEdit#color_display:focus, QLineEdit#color_display:hover {
    border-color: %main_text_color% !important;
    color: %main_text_color% !important;
    background-color: %frame_bg_color% !important;
}

QLineEdit#color_display:read-only {
    color: %main_text_color% !important;
}
