
QFrame#bottom_widget, QFrame#settings_widget {
    background-color: %frame_bg_color%;
    border-radius: %custom_border_radius%;
}
QWidget {
    font-family: "%font_family_main%", sans-serif;
    outline: none;
    font-size: %font_size_main%pt;
    color: %main_text_color%;
    background-color: transparent;
}
QDialog, QMessageBox {
    font-family: "%font_family_main%", sans-serif;
    font-size: %font_size_small%pt;
    color: %main_text_color%;
    background-color: %frame_bg_color%;
    border: 3px solid %border_color%;
    border-radius: %custom_border_radius%;
}
QDialog > QLabel, QMessageBox > QLabel {
    background: transparent;
    font-size: %font_size_small%pt;
}
QDialog QPushButton, QMessageBox QPushButton {
    font-size: %font_size_small%pt;
}
QPushButton {
    background-color: %button_color%;
    border: 2px solid %border_color%;
    color: %main_text_color%;
    padding: 6px 16px;
    min-height: 30px;
    border-radius: %button_border_radius%;
}
QPushButton:hover {
    background-color: %button_hover_color%;
}
QPushButton:disabled, QComboBox:disabled {
    background-color: #333333;
    color: #888888;
    border: 2px solid #555555;
}
QPushButton#addLocalizationButton {
    min-width: 33px;
    min-height: 33px;
    padding: 2px;
    border-radius: %add_localization_button_radius%;
}
QWidget#customTitleBar {
    background-color: %frame_bg_color%;
    border: 2px solid %border_color%;
    border-radius: %title_bar_radius%;
}
QWidget#titleBarLeftWidget, QWidget#titleBarRightWidget {
    background: transparent;
    border: none;
}
QToolButton#titleBarMenuButton {
    background: transparent;
    color: %main_text_color%;
    border: 2px solid transparent;
    padding: 2px 7px;
    min-height: 20px;
    border-radius: %title_bar_menu_button_radius%;
    font-size: %font_size_small%pt;
    font-weight: bold;
}
QToolButton#titleBarMenuButton:hover, QToolButton#titleBarMenuButton:pressed {
    background-color: %button_hover_color%;
    border: 2px solid %border_color%;
}
QToolButton#titleBarMenuButton::menu-indicator {
    image: none;
    width: 0px;
}
QMenu#titleBarPopupMenu {
    background-color: %button_color%;
    border: 2px solid %border_color%;
    border-radius: %title_bar_popup_radius%;
    color: %main_text_color%;
    padding: 3px;
}
QMenu#titleBarPopupMenu::item {
    padding: 4px 12px;
    border-radius: %title_bar_popup_item_radius%;
    background: transparent;
    font-size: %font_size_small%pt;
}
QMenu#titleBarPopupMenu::item:selected {
    background-color: %button_hover_color%;
}
QPushButton#titleBarMinimizeButton, QPushButton#titleBarMaximizeButton, QPushButton#titleBarCloseButton {
    background-color: %button_color%;
    border: 2px solid %border_color%;
    color: %main_text_color%;
    min-width: 26px;
    max-width: 26px;
    min-height: 26px;
    max-height: 26px;
    padding: 0px;
    border-radius: %title_bar_window_button_radius%;
    font-size: 12px;
    font-weight: bold;
}
QPushButton#titleBarMinimizeButton:hover, QPushButton#titleBarMaximizeButton:hover, QPushButton#titleBarCloseButton:hover {
    background-color: %button_hover_color%;
    border: 2px solid %border_color%;
}
QPushButton#titleBarMinimizeButton:pressed, QPushButton#titleBarMaximizeButton:pressed, QPushButton#titleBarCloseButton:pressed {
    background-color: %button_hover_color%;
    border: 2px solid %main_text_color%;
}
QPushButton#titleBarCloseButton {
    font-size: 11px;
}
QComboBox {
    background-color: %button_color%;
    color: %main_text_color%;
    border: 2px solid %border_color%;
    padding: 5px 10px;
    min-height: 30px;
    border-radius: %field_border_radius%;
}
QComboBox::drop-down {
    subcontrol-origin: border;
    subcontrol-position: center right;
    background: transparent;
    border: none;
    width: 30px;
    margin-right: 4px;
}
QComboBox::down-arrow {
    image: url(%arrow_down_path%);
    width: 16px;
    height: 10px;
}
QComboBox QAbstractItemView {
    background-color: %button_color%;
    border: 2px solid %border_color%;
    color: %main_text_color%;
    selection-background-color: %button_hover_color%;
    border-radius: %custom_border_radius%;
}
QLineEdit {
    background-color: %frame_bg_color%;
    color: %main_text_color%;
    border: 2px solid %border_color%;
    padding: 5px 10px;
    qproperty-alignment: 'AlignCenter';
    border-radius: %field_border_radius%;
}
QListWidget {
    background-color: %frame_bg_color%;
    color: %main_text_color%;
    border: 2px solid %border_color%;
    border-radius: %custom_border_radius%;
}
QListWidget::item {
    color: %main_text_color%;
}
QListWidget::item:selected {
    background-color: %button_hover_color%;
}
QSpinBox {
    background-color: %frame_bg_color%;
    color: %main_text_color%;
    border: 2px solid %border_color%;
    padding: 5px 10px;
    qproperty-alignment: 'AlignCenter';
    border-radius: %field_border_radius%;
}
QSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right;
    background: transparent;
    border: none;
    border-left: none;
    width: 24px;
    margin-right: 2px;
}
QSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right;
    background: transparent;
    border: none;
    border-left: none;
    width: 24px;
    margin-right: 2px;
}
QSpinBox::up-arrow {
    image: url(%arrow_up_path%);
    width: 12px;
    height: 8px;
}
QSpinBox::down-arrow {
    image: url(%arrow_down_path%);
    width: 12px;
    height: 8px;
}
QTextEdit, QTextBrowser {
    background-color: %frame_bg_color%;
    color: %main_text_color%;
    border: 2px solid %border_color%;
    min-height: 100px;
    border-radius: %editor_border_radius%;
}
QFrame#filters {
    background-color: %frame_bg_color%;
    border: 2px solid %border_color%;
    padding: 4px 8px;
    border-radius: %custom_border_radius%;
}
QPushButton#sortOrderBtn {
    min-width: 35px;
    max-width: 35px;
    padding-left: 0px;
    padding-right: 0px;
    font-weight: bold;
    font-size: 12px;
}
QPushButton#searchBtn, QPushButton#gameVersionsBtn, QPushButton#g3mActionsBtn {
    min-width: 35px;
    max-width: 35px;
    min-height: 30px;
    max-height: 30px;
    padding-left: 0px;
    padding-right: 0px;
    font-weight: bold;
    font-size: 16px;
}
QPushButton#downloadsBtn {
    min-width: 35px;
    min-height: 30px;
    max-height: 30px;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: bold;
    font-size: 12px;
}
QPushButton#actionIconBtn {
    min-width: 35px;
    max-width: 35px;
    min-height: 30px;
    max-height: 30px;
    padding-left: 0px;
    padding-right: 0px;
    font-weight: bold;
}
QPushButton#topRefreshBtn {
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    border-radius: %top_refresh_button_radius%;
}
QPushButton#blocklistBtn {
    font-size: 12px;
    padding: 3px 8px;
    min-width: 80px;
}
QPushButton#blocklistBtn:hover {
    background-color: %button_hover_color%;
    color: %main_text_color%;
}
QTabBar::tab {
    background-color: %button_color%;
    color: %main_text_color%;
    border: 2px solid %border_color%;
    padding: 4px 12px;
    min-height: 23px;
    border-radius: %tab_border_radius%;
    margin-right: 4px;
}
QTabBar::tab:selected, QTabBar::tab:hover {
    background-color: %button_hover_color%;
}
QTabBar::tab:disabled {
    background-color: #333333;
    color: #888888;
    border: 2px solid #555555;
}
QTabWidget::pane {
    background: transparent;
    border: 0px;
}
QCheckBox:disabled {
    color: #888888;
}
QCheckBox::indicator {
    width: 18px;
    height: 18px;
    background-color: %button_color%;
    border: 2px solid %border_color%;
    border-radius: %checkbox_indicator_radius%;
}
QCheckBox::indicator:checked {
    background-color: %checkbox_checked_color%;
}
QCheckBox::indicator:disabled {
    background-color: #333333;
    border: 2px solid #555555;
}
QPushButton:checked {
    background-color: %button_hover_color%;
    border: 2px solid %main_text_color%;
}
#animated_tooltip {
    background-color: %tooltip_bg_color% !important;
    border: 2px solid %border_color%;
    color: %main_text_color% !important;
    font-family: "%font_family_main%", sans-serif;
    font-size: %font_size_small%pt;
    outline: none;
    border-radius: %custom_border_radius%;
    padding: 2px;
}

QToolTip {
    background-color: %tooltip_bg_color% !important;
    border: 2px solid %border_color%;
    color: %main_text_color% !important;
    padding: 10px;
    border-radius: %custom_border_radius%;
}

QLineEdit#color_display {
    padding: 6px 12px;
    min-width: 180px;
    max-width: 230px;
    background-color: %frame_bg_color% !important;
    color: %main_text_color% !important;
    qproperty-alignment: 'AlignCenter';
    selection-background-color: %button_hover_color% !important;
    selection-color: %main_text_color% !important;
    border: 2px solid %border_color%;
    border-radius: %field_border_radius%;
}

QLineEdit#color_display:focus, QLineEdit#color_display:hover {
    border-color: %main_text_color% !important;
    color: %main_text_color% !important;
    background-color: %frame_bg_color% !important;
}

QLineEdit#color_display:read-only {
    color: %main_text_color% !important;
}
