/* Custom title bar, window control buttons, and popup menu */

QWidget#customTitleBar {
    background-color: %frame_bg_color%;
    border: 2px solid %border_color%;
    border-radius: %title_bar_radius%;
}
QWidget#titleBarLeftWidget, QWidget#titleBarRightWidget {
    background: transparent;
    border: none;
}
QToolButton#titleBarMenuButton {
    background: transparent;
    color: %main_text_color%;
    border: 2px solid transparent;
    padding: 2px 7px;
    min-height: 20px;
    border-radius: %title_bar_menu_button_radius%;
    font-size: %font_size_small%pt;
    font-weight: bold;
}
QToolButton#titleBarMenuButton:hover, QToolButton#titleBarMenuButton:pressed {
    background-color: %button_hover_color%;
    border: 2px solid %border_color%;
}
QToolButton#titleBarMenuButton::menu-indicator {
    image: none;
    width: 0px;
}
QMenu#titleBarPopupMenu {
    background-color: %button_color%;
    border: 2px solid %border_color%;
    border-radius: %title_bar_popup_radius%;
    color: %main_text_color%;
    padding: 3px;
}
QMenu#titleBarPopupMenu::item {
    padding: 4px 12px;
    border-radius: %title_bar_popup_item_radius%;
    background: transparent;
    font-size: %font_size_small%pt;
}
QMenu#titleBarPopupMenu::item:selected {
    background-color: %button_hover_color%;
}
QPushButton#titleBarMinimizeButton, QPushButton#titleBarMaximizeButton, QPushButton#titleBarCloseButton {
    background-color: %button_color%;
    border: 2px solid %border_color%;
    color: %main_text_color%;
    min-width: 26px;
    max-width: 26px;
    min-height: 26px;
    max-height: 26px;
    padding: 0px;
    border-radius: %title_bar_window_button_radius%;
    font-size: 12px;
    font-weight: bold;
}
QPushButton#titleBarMinimizeButton:hover, QPushButton#titleBarMaximizeButton:hover, QPushButton#titleBarCloseButton:hover {
    background-color: %button_hover_color%;
    border: 2px solid %border_color%;
}
QPushButton#titleBarMinimizeButton:pressed, QPushButton#titleBarMaximizeButton:pressed, QPushButton#titleBarCloseButton:pressed {
    background-color: %button_hover_color%;
    border: 2px solid %main_text_color%;
}
QPushButton#titleBarCloseButton {
    font-size: 11px;
}
